h2 {
    font-size: calc(2.5rem + 4vw)
}

.handyman-text {
    color: white;
    font-size: calc(1.2rem + 1.2vw);
}

.card {
    border-width: 0;
    border-radius: 10%;
}
.card-title {
    margin: 0;
    border-radius: 10%;
}

.card-img-overlay {
    padding: 0;
}

.card-img {
    border-radius: 10%;
}

.card-text-wrap {
    border-radius: 10%;
}

.square-image{
  width: 100%;
  object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
  aspect-ratio: 1/1;
}

a:active div {
    opacity: 0.2 !important;
}

@media (min-width: 576px) {
    h2 {
        font-size: calc(1.8rem + 1.8vw)
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: calc(1.6rem + 1.2vw)
    }

    .handyman-text {
        font-size: calc(1.6rem + 1.2vw)
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: calc(1.8rem + 1.8vw)
    }
}

