{% load static %}
<header data-bs-theme="dark">
  <div class="container">
    <div class="row">
      <div class="navbar navbar-dark" style="padding-bottom: 0 !important;">
        <div class="container">
          <a href="/" class="logo-anchor p-1 rounded"><img class="float-left" src="{% static 'images/logo.png' %}" width="40" height="40"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 mx-auto">
        <h1 class="text-center">Steve @ 213</h1>
     </div>
    </div>
    <div class="collapse" id="navbarHeader" style="background-color: #3F789A;">
      <div class="container mb-3">
        <div class="row">
          <ul class="list-unstyled m-1">
            <li><a class="header-menu-item" href="/about">&nbsp;About&nbsp;</a></li>
            <li><a class="header-menu-item" href="/contact">&nbsp;Contact&nbsp;</a></li>
            <li><a class="header-menu-item" href="/handyman">&nbsp;Handyman&nbsp;</a></li>
            <li><a class="header-menu-item" href="/upcycle">&nbsp;Upcycled Builds&nbsp;</a></li>
            <li><a class="header-menu-item" href="/special">&nbsp;Special Projects&nbsp;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
