{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'handyman/css/handyman.css' %}" rel="stylesheet" />{% endblock %}
{% block main %}
<main>
  <div class="container p-0">
    <div class="row">
      <div class="col">
        <table id="jobs-grid" class="jobs-grid">
        </table>
      </div>
    </div>
  </div>
</main>
<img src="https://res.cloudinary.com/hk5jfbo4b/image/upload/v1684586452/handyman/005a_f_640x480_x3wnvw.jpg">
{% endblock %}
{% block page-js %}<script src="{% static 'handyman/js/handyman.js' %}"></script>{% endblock %}
