body {
  font-family: var(--normal-font);
}

h1 {
  font-family: var(--title-font);
  color: white;
  font-size: calc(3rem + 7vw);
}

h2 {
  color: white;
  font-size: calc(2.5rem + 4vw);
}

h3 {
  color: white;
  font-size: calc(2rem + 3vw);
}

h4 {
  color: white;
  font-size: calc(1.8rem + 2.5vw);
}

h5 {
  color: white;
  font-size: calc(1.4rem + 2vw);
}

.normal-text {
  color: white;
  font-size: calc(1rem + 1.5vw);
  margin-bottom: 1em;
}

a {
  color: #CCC;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
}

#go-to-top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--go-to-top-button-colour); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-weight: bold;
}

#go-to-top-button:hover {
  background-color: var(--go-to-top-button-colour-hover);
}

.page-background {
  background-color: var(--page-background-colour) !important;
}

.card-width {
  padding: 0 10vw 5vw 10vw;
}

a.logo-anchor {
  background-color: var(--logo-colour);
}

a.logo-anchor:hover {
  background-color: var(--logo-colour-hover);
}

@media (min-width: 576px) {
  .card-width {
    padding: 0 1rem 0 1rem;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a.header-menu-item {
  font-size: 1.5rem;
}

/* Modal generic */
.modal-box{ font-family: Arial, Helvetica, sans-serif; }
.modal-box .show-modal{
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 15px;
    margin: 80px auto 0;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    display: block;
}
.modal-box .show-modal:hover,
.modal-box .show-modal:focus{
    border: none;
    outline: none;
}
.modal-backdrop.in{ opacity: 0; }
.modal-box .modal-dialog{
    width: 550px;
    margin: 70px auto 0;
}
.modal.fade .modal-dialog{
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}
.modal.in .modal-dialog{ transform: translateX(0); }
.modal-box .modal-dialog .modal-content{
    background: #fff;
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.modal-box .modal-dialog .modal-content .close{
    font-size: 30px;
    line-height: 15px;
    opacity: 1;
    position: absolute;
    left: auto;
    top: 20px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s;
}
.modal-box .modal-dialog .modal-content .close span{
    margin: -2px 0 0 0;
    display: block;
}
.modal-box .modal-dialog .modal-content .modal-body{ padding: 0 45px 45px !important; }
.modal-box .modal-dialog .modal-content .modal-body .modal-icon{
    color: #fff;
    font-size: 70px;
    line-height: 125px;
    width: 125px;
    height: 125px;
    margin: -63px auto 15px;
    border-radius: 50%;
    display: inline-block;
}
.modal-box .modal-dialog .modal-content .modal-body .title{
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.modal-box .modal-dialog .modal-content .modal-body .description{
    font-size: 23px;
    font-weight: 400;
    margin: 0 0 15px;
}
.modal-box .modal-dialog .modal-content .modal-body .input-group{
    padding: 2px 1px;
    margin: 0 auto;
    border-radius: 25px;
}
.modal-box .modal-dialog .modal-content .modal-body input{
    background-color: transparent;
    font-size: 18px;
    width: calc(100% - 45px);
    height: 40px;
    border-radius: 25px;
    border: none;
    box-shadow: none;
}
.modal-box .modal-dialog .modal-content .modal-body input:focus{ box-shadow: none; }
.modal-box .modal-dialog .modal-content .modal-body .btn{
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    height: 40px;
    padding: 0;
    border-radius: 7px;
    border: none;
    transition: all 0.4s ease 0s;
}
.modal-box .modal-dialog .modal-content .modal-body .btn:hover{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

@media (min-width: 576px) {
    h4 {
      color: white;
      font-size: calc(1rem + 2vw);
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

