{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'css/about.css' %}" rel="stylesheet"/>{% endblock %}
{% block main %}
<main>
    <h2 class="text-center page-name">About</h2>
    <img class="rounded mx-auto d-block" src="https://res.cloudinary.com/hk5jfbo4b/image/upload/v1686023365/main/about_self_nk7eyx.png">
    <div class="m-3">
        <div class="normal-text">This is my personal site. I spent most of my former career working with computers in several
            countries, and across many industries. One of my skills from back then is building websites not unlike
            this one. I've retired now.

            This site has 3 main sections:
        </div>

        <h3>Handyman</h3>
        <div class="normal-text">To help finance some of my hobbies, I do a bit of handyman work in the local area. Go <a class="in-page-links" href="{% url 'handyman' %}">here</a> to see my work.
        </div>
        <h3>Upcycle</h3>
        <div class="normal-text">I like to make things out of recycled materials. This is mostly pallets or recycled timber but also
            includes other materials. Some of these I sell. See if there is anything you like <a class="in-page-links" href="upcycle">here</a>.
        </div>
        <h3>Special Projects</h3>
        <div class="normal-text">I like to get involved in making things for various local entities - <a class="in-page-links" href="special">here</a>.
        </div>
    </div>
</main>
{% endblock %}
{% block page-js %}
<script src="{% static 'js/index.js' %}"></script>{% endblock %}
