{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'main/css/about.css' %}" rel="stylesheet"/>{% endblock %}
{% block main %}
<main>
    <h2 class="text-center page-name">About</h2>
    <img class="rounded mx-auto d-block" src="{% static 'main/images/about_self.png' %}">
    <div class="m-3">
        <div class="normal-text">This is my personal site. I spent most of my career as an IT professional working in several
            countries, and across many industries. One of my skills from back then is building websites not unlike
            this one. I've retired now.

            This site has 3 main sections:
        </div>

        <h3>Handyman</h3>
        <div class="normal-text">To supplement my income, I do a bit of handyman work in the local area. In that part of this
            site, I list some of my jobs. Please feel free to use the <a class="in-page-links" href="contact">Contact page</a> if you'd like me to do a job for you.
        </div>
        <h3>Upcycle</h3>
        <div class="normal-text">I like to make things out of recycled materials. This is mostly pallets or recycled timber but also
            includes other materials. Some of these I sell. If you see anything you like, please use the <a class="in-page-links" href="contact">Contact page</a>
            and ask me about making something for you.
        </div>
        <h3>Special Projects</h3>
        <div class="normal-text">I have several interests in the local area and like to get involved in making things to help out. Please
            feel free to browse the projects complete, in progress, or yet to start. Yep, on the <a class="in-page-links" href="contact">Contact page</a> gets the goods.
        </div>
    </div>
</main>
{% endblock %}
{% block page-js %}
<script src="{% static 'main/js/index.js' %}"></script>{% endblock %}
