{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'css/contact.css' %}" rel="stylesheet"/>{% endblock %}
{% block modals %}
<div class="modal-box">
    <div class="modal fade" id="sentModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fas fa-envelope-circle-check"></i>
                    </div>
                    <h3 class="title">Sent</h3>
                    <p class="description">Your message has been sent - I'll get back to you as soon as I can.</p>
                    <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main %}
<main>
    <h2 class="text-center page-name">Contact</h2>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border-top mb-2"></div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h5>Follow me:</h5>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col text-center">
                <a class="fb-link" target="_blank" title="facebook" href="https://www.facebook.com/profile.php?id=100089291311305">
                    <img class="fb-logo" alt="Follow me on facebook" src="https://res.cloudinary.com/hk5jfbo4b/image/upload/v1686029275/main/f_logo_RGB-Blue_58_leitq9.png" border=0>
                </a>
                <a class="fb-link" target="_blank" title="instagram" href="https://www.instagram.com/steve_roach/">
                    <img class="fb-logo" alt="Follow me on Instagram" src="https://res.cloudinary.com/hk5jfbo4b/image/upload/v1686029776/main/i_logo_130x130_yqyprh.png" border=0>
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border-bottom mt-2"></div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col">
                <h5>Send me a message or a question</h5>
                <form class="m-1 p-2" method="POST" action='contact'>
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input id="submit-button" class="btn btn-primary" type="submit" value="&nbsp;Send&nbsp;">
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border-top mb-2"></div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h5>Call or text me:</h5>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h5>0417 847 502</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border-top mb-2"></div>
            <div class="col-1"></div>
        </div>
    </div>
</main>
{% endblock %}
{% block page-js %}<script src="{% static 'js/contact.js' %}"></script>{% endblock %}

