{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'main/css/contact.css' %}" rel="stylesheet"/>{% endblock %}
{% block modals %}
<div class="modal-box">
    <div class="modal fade" id="sendingModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sendingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <h3 class="title">Sending...</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-box">
    <div class="modal fade" id="sentModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fas fa-envelope-circle-check"></i>
                    </div>
                    <h3 class="title">Sent</h3>
                    <p class="description">Your message has been sent - I'll get back to you as soon as I can.</p>
                    <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main %}
<main>
    <h2 class="text-center page-name">Contact</h2>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border-top mb-2"></div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8 d-flex align-items-center">
                <h4>Follow me on Facebook</h4>
            </div>
            <div class="col-2">
                <a class="fb-link float-start" target="_blank" title="follow me on facebook" href="https://www.facebook.com/profile.php?id=100089291311305">
                    <img alt="Follow me on facebook" src="{% static 'main/images/f_logo_RGB-Blue_58.png' %}" border=0 width="60" height="60">
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border-bottom mt-2"></div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col">
                <h5>Send me a message or a question</h5>
                <form class="m-1 p-2" method="POST" action='contact'>
                    {% csrf_token %}

                    {{ form }}

                    <input class="btn btn-secondary" type="submit" value="&nbsp;Send&nbsp;">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block page-js %}<script src="{% static 'main/js/contact.js' %}"></script>{% endblock %}
