{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'main/css/index.css' %}" rel="stylesheet" />{% endblock %}
{% block main %}
<main>
  <div class="album py-2">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col mx-auto card-width">
              <div class="card shadow-sm bg-handyman">
                <img class="card-img square-image" src="{% static 'main/images/hm_001b_f_480x640.jpg' %}">
                <div class="card-title card-img-overlay text-center" style="">
                  <div class="card-text-wrap d-flex h-100">
                    <h2 class="align-self-center w-100">Handyman<br>Jobs</h2>
                  </div>
                </div>
                <div class="card-title card-img-overlay text-center" style="">
                  <a href="handyman" onclick="alert('xxx');">
                    <div class="card-text-wrap bg-secondary d-flex h-100 opacity-50">
                    <h2 class="align-self-center w-100">Handyman<br>Jobs</h2>
                    </div>
                  </a>
                </div>
              </div>
          </div>
          <div class="col mx-auto card-width">
              <div class="card shadow-sm bg-handyman">
                <img class="card-img square-image" src="{% static 'main/images/hm_004c_f_480x640.jpg' %}">
                <div class="card-title card-img-overlay text-center" style="">
                  <div class="card-text-wrap bg-secondary d-flex h-100 opacity-50">
                  </div>
                </div>
                <div class="card-title card-img-overlay text-center" style="">
                  <a class="" href="upcycle">
                    <div class="card-text-wrap d-flex h-100">
                      <h2 class="align-self-center w-100">Upcycled<br>Builds</h2>
                    </div>
                  </a>
                </div>
              </div>
          </div>
          <div class="col mx-auto card-width">
              <div class="card shadow-sm bg-handyman">
                <img class="card-img square-image" src="{% static 'main/images/jade_rabbit_2_480x640.jpg' %}">
                <div class="card-title card-img-overlay text-center" style="">
                  <div class="card-text-wrap d-flex h-100">
                    <h2 class="align-self-center w-100">Special<br>Projects</h2>
                  </div>
                </div>
                <div class="card-title card-img-overlay text-center" style="">
                  <a class="" href="#">
                    <div class="card-text-wrap bg-secondary d-flex h-100 opacity-50">
                      <h2 class="align-self-center w-100">Special<br>Projects</h2>
                    </div>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block page-js %}<script src="{% static 'main/js/index.js' %}"></script>{% endblock %}
