{% extends 'base.html' %}
{% load static %}
{% block title %}Steve @ 213{% endblock %}
{% block page-css %}<link href="{% static 'main/css/index.css' %}" rel="stylesheet" />{% endblock %}
{% block main %}
<main>
  <div class="album py-2">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col mx-auto card-width">
            <a href="handyman">
              <div class="card shadow-sm bg-handyman">
                <img class="card-img" src="{% static 'main/images/hm_001b_f_480x640.jpg' %}">
                <div class="card-title card-img-overlay d-flex align-items-center justify-content-center">
                  <button class="btn btn-secondary bg-secondary" style="--bs-bg-opacity: .7; ">Handyman Jobs</button>
                </div>
              </div>
            </a>
          </div>
          <div class="col mx-auto card-width">
            <a href="#">
              <div class="card shadow-sm bg-upcycle">
                <img class="card-img" src="{% static 'main/images/hm_004c_f_480x640.jpg' %}">
                <div class="card-title card-img-overlay d-flex align-items-center justify-content-center">
                  <button class="btn btn-secondary bg-secondary" style="--bs-bg-opacity: .7; ">Upcycled Builds</button>
                </div>
              </div>
            </a>
          </div>
          <div class="col mx-auto card-width">
            <a href="#">
              <div class="card shadow-sm bg-special">
                <img class="card-img" src="{% static 'main/images/jade_rabbit_2_480x640.jpg' %}">
                <div class="card-title card-img-overlay d-flex align-items-center justify-content-center">
                  <button class="btn btn-secondary bg-secondary" style="--bs-bg-opacity: .7; ">Special Projects</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block page-js %}<script src="{% static 'main/js/index.js' %}"></script>{% endblock %}
