a.fb-link:hover {
  background-color: transparent;
}

/* Modal */
.modal-box{ font-family: Arial, Helvetica, sans-serif; }
.modal-box .show-modal{
    color: #175cab;
}
.modal-box .show-modal:hover,
.modal-box .show-modal:focus{
    color: #175cab;
}
.modal-box .modal-dialog .modal-content .close{
    color: #1eaaf1;
}
.modal-content .close:hover{ color: #1eaaf1; }
.modal-box .modal-dialog .modal-content .modal-body .modal-icon{
    background: #659DBD;
}
.modal-box .modal-dialog .modal-content .modal-body .title{
    color: #659DBD;
}
.modal-box .modal-dialog .modal-content .modal-body .description{
    color: #767676;
}
.modal-box .modal-dialog .modal-content .modal-body .input-group{
    background-color: #eff7ff;
    border: 1px solid #c5cfdb;
}
.modal-box .modal-dialog .modal-content .modal-body input:focus{ box-shadow: none; }
.modal-box .modal-dialog .modal-content .modal-body .btn{
    background-color: #659DBD;
    width: 100px;
}
@media only screen and (max-width: 767px){
    .modal-box .modal-dialog{ width: 95% !important; }
    .modal-box .modal-dialog .modal-content .modal-body{ padding: 0 25px 45px !important; }
    .modal-box .modal-dialog .modal-content .modal-body .title{ font-size: 33px; }
}

/* Form */
.errorlist {
    list-style-type: none;
    text-align: center !important;
    padding: 10px 10px 3px 10px;
    width: 80%;
    margin: 0 auto;
}

.errorlist>li{
    color: #ffcc00;
    font-size: 1.2rem !important;
    font-weight: bold;
    background-color: #3d718f;
    padding: 4px;
    border-radius: var(--bs-border-radius);
    border: 3px solid red;
}