.bg-handyman {
  background-color: var(--handyman-main-colour) !important;
}

.bg-upcycle {
  background-color: var(--upcycle-main-colour) !important;
}

.bg-special {
  background-color: var(--special-main-colour) !important;
}

.card {
    padding: 20px;
}
.card-title>button {
    font-size: 8vw;
}

a:hover {
    display: block;
    background-color: transparent;
}

@media (min-width: 576px) {
    .card {
        padding: 15px;
    }
    .card-title>button{
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    .card {
        padding: 15px;
    }
    .card-title>button{
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .card {
        padding: 15px;
    }
    .card-title>button{
        font-size: 1.7rem;
    }
}

